<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lemon.lemonprofile.mapper.UserMapper">



<!--    <select id="getUserConditions" resultType="TbUserConditionVo">-->
<!--        SELECT * FROM TB_USER_CONDITION;-->
<!--    </select>-->


    <insert id = 'createUserCondition'>
        INSERT INTO TB_USER_CONDITION VALUES (
                                       #{USER_ID}, #{SMOKE}, #{LIVER_DISEASE}, #{VASCULAR_DISEASE}, #{BONE_JOINT_DISEASE});
    </insert>
    <update id = 'updateUserCondition'>
        UPDATE TB_USER_CONDTION SET (
                               SMOKE = #{SMOKE},
                               LIVER_DISEASE = #{LIVER_DISEASE}, VASCULAR_DISEASE =  #{VASCULAR_DISEASE}, BONE_JOINT_DISEASE = #{BONE_JOINT_DISEASE}
                WHERE USER_ID = #{USER_ID});
    </update>
    <delete id="deleteUserCondition">
        DELETE FROM TB_USER_CONDITION WHERE USER_ID = #{USER_ID}
    </delete>

    <select id="getUserCondition" resultType="TbUserConditionVo">
        SELECT * FROM TB_USER_CONDITION WHERE USER_ID = #{USER_ID}
    </select>


</mapper>
